<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02确认按键</title>
    <script src="../00js/js.js"></script>
</head>
<body>
    <div id="main">
        <input type="radio" id="men" v-model="sex" value="men">
        <label for="men">男</label>
        <br>
        <input type="radio" id="women" v-model="sex" value="women">
        <label for="women">女</label>
        <p>{{sex}}</p>
    </div>

    <div id="app">
    </div>
    
    <script>
        const vm = new Vue({
            el:'#main',
            data:{
                sex:'男'
            },
            methods: {
                
            },
        })
    </script>
</body>
</html>